@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-container($direction, $justify, $align) {
  @include flexbox();;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}