// app colours
$primary-colour: #74dfb5;
$secondary-colour: #feda38;
$tertiary-colour: #fbad4a;
$black: #2d3039;
$white: #f5f6fa;

// category colours
$fitness: #26bbec;
$social: #fbad4a;
$family: #cc3333;
$mindfulness: #873a87;
$nourishment: #feda38;
$home: #999999;
$romance: #f97da3;
$learning: #66cccc;

// fonts
$system-font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';
$body-font: 'Nunito', $system-font-stack;
$header-font: 'Londrina Solid', $system-font-stack;
