<section>

  <header>
    <h1>Create a new challenge</h1>
  </header>

  <form name="addChallenge" action="/add-challenge" method="POST">
    <label for="title">Challenge Title</label>
    <input name="title" id="title" type="text" placeholder="Please type a title">
    <label for="categoryId">Category</label>
    <select name="categoryId" id="categoryId">
      <option value="" disabled selected>Please select an option from below</option>
      <option value="1">Fitness</option>
      <option value="2">Nourishment</option>
      <option value="3">Home</option>
      <option value="4">Family</option>
      <option value="5">Learning</option>
      <option value="6">Mindfulness</option>
      <option value="7">Social</option>
      <option value="8">Romance</option>
    </select>
    <label for="description">Description</label>
    <textarea name="description" id="description" cols="30" rows="10" placeholder="Please provide details of your challenge here"></textarea>
    {{#if error}}
    <span>{{error}}</span>
    {{/if}}
    <input type="hidden" name="userId" value="1">
    <input type="submit" id="submit" value="Submit"> {{!-- please remember to avoid using form name in the input submit! --}}
  </form>

</section>