<section>

  <header>
    <h1>Add your own message</h1>
  </header>

  <form name="addMessage" action="/add-message" method="POST">
    <h4></h4>
    <label for="body">Message</label>
    <textarea name="body" id="body" cols="30" rows="10" placeholder="Please type your message here"></textarea>
    <input type="hidden" name="userId" value="1">
    <input type="submit" id="submit" value="Submit"> {{!-- please remember to avoid using form name in the input submit! --}}
  </form>

</section>