<section>
  <ul>
    {{#each challenges}}
    <li>
      <a href="/challenge/{{this.id}}">
        <div>
          <h1>{{this.title}}</h1>
          <img src="/img/{{lowercase this.category}}.svg" alt="icon for {{this.category}}" height="60px" width="60px">
        </div>
      </a>
    </li>
    {{/each}}
  </ul>
</section>
<section>
  <a href="/add-challenge">Add a new challenge</a>
</section>