<section>
  <ul>
    {{#each challenges}}
    <li>
      <a href="/challenge/{{this.id}}">
        <div>
          <h1>{{this.title}}</h1>
          <img src="http://sigil.cupcake.io/{{this.category}}" alt="icon for {{category}}" height="60px" width="60px">
        </div>
      </a>
    </li>
    {{/each}}
  </ul>
</section>