<section>
  {{#each challenges}}
  <article>
    <header>
      <h1>{{this.title}}</h1>
    </header>
    <main>
      <p>{{this.description}}</p>
    </main>
    <footer>
      <img src="http://sigil.cupcake.io/{{this.username}}" height="60px" width="60px">
    </footer>
  </article>
  {{/each}}
</section>