<section>
  <h1>Welcome to Well-Bean</h1>
  <article>
    <form action="/login" method="POST">
      <fieldset>
        <legend>Login Here</legend>
        <label for="user">Username/Email</label>
        <input type="text" name="inputUser" id="user" placeholder="enter your username or email">
        <label for="password">Password</label>
        <input type="password" name="inputPassword" id="password" placeholder="enter a password">
        {{#if error}}
        <span>{{error}}</span>
        {{/if}}
        <input type="submit" value="Login">
      </fieldset>
      <a href="/signup">New user? Register here</a>
    </form>
  </article>
</section>