<section>
  <h1>Welcome to Well-Bean</h1>
  <article>
    <h3>Signup Here</h3>
    <form action="/signup" method="POST">
      <fieldset>
        <legend>Well-Bean!</legend>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" value="{{usernameValue}}" placeholder="choose a username">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" value="{{emailValue}}" placeholder="add your email">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="enter a password">
        <label for="confirm-password">Confirm Password</label>
        <input type="password" name="confirmPassword" id="confirm-password" placeholder="confirm your password">
        <input type="submit" value="SIGNUP!">
      </fieldset>
      {{#if error}}
      <span>{{error}}</span>
      {{/if}}
    </form>
  </article>
</section>