<nav>
  <a href="/">
    <img src="/img/logo{{#unless state.home}}BW{{/unless}}.svg" alt="icon for Home">
    <span>Home</span>
  </a>
  <a href="/stats">
    <img src="/img/stats{{#unless state.stats}}BW{{/unless}}.svg" alt="icon for Home">
    <span>Stats</span>
  </a>
  <a href="/messages">
    <img src="/img/messages{{#unless state.messages}}BW{{/unless}}.svg" alt="icon for Home">
    <span>Inspire</span>
  </a>
  <a href="/challenges">
    <img src="/img/challenges{{#unless state.challenges}}BW{{/unless}}.svg" alt="icon for Home">
    <span>Challenges</span>
  </a>
</nav>