<!DOCTYPE html>
<html lang="en">

{{> htmlHead layout="main" }}

<body>

  <main>
    {{{ body }}}
  </main>

  <footer>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/stats">User Stats</a>
      </li>
      <li>
        <a href="/challenges">List of Challenges</a>
      </li>
      <li>
        <a href="/messages">Message Board</a>
      </li>
    </ul>
  </footer>

</body>

</html>