<!DOCTYPE html>
<html lang="en">

{{> htmlHead layout="main" }}

<body>

  <main>
    {{{ body }}}
  </main>
  
  <footer>
<<<<<<< HEAD
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/progress">User Stats</a>
      </li>
      <li>
        <a href="/challenges">List of Challenges</a>
      </li>
      <li>
        <a href="/messages">Message Board</a>
      </li>
    </ul>
=======
    {{> nav}}
>>>>>>> master
  </footer>

</body>

</html>